In [220]:
#2.1 practice problem (Write Python algebraic expressions corresponding to the following statements:)
#question 1
#(a);the sum of first five positive integer
a=[1+2+3+4+5]
print("sum of the first five positive integer is",a)

#(b)the average age of sara(age23),mark(age19),fatima(age31)
sara=(23)
mark=(19)
fatima=(31)
avg=23+19+31/3
print("avg",avg)

#(C)the number of times 73 goes into 406
a=73
b=406
c=b//a
print(c)

#(d)the reminmder when 403 is divided by 73
a=73
b=406
c=b%a
print(c)

#(e)2 to the 10th power
a=2**10
print(a)

#(f)the absolute value of the difference between sara height(54 inches) and mark height(57 inches)
sara=(54)
mark=(57)
d=abs(sara-mark)
print("difference between sara height and mark height is",d)

#(g)the lowest price amonmg the following prices:$34.99,$29.95,$31.50
min(34.99, 29.95, 31.50)

sum of the first five positive integer is [15]
avg 52.333333333333336
5
41
1024
difference between sara height and mark height is 3

29.95

In [223]:
#practice problem 2.2(Translate the following statements into Python Boolean expressions and evaluate them:)

#(a)the sum of 2 and 2 less than 4
a=2+2<4
print("a",a)

#(b)the value of 7//3 is equal to 1+1
b=7//3==1+1
print("b",b)

#(c)the sum of 3 squard and 4 squard is equal to 25
c=3**2+4**2==25
print("c",c)

#(d) The sum of 2,4,and 6 is greater than 12
d=2+4+6>12
print("d",d)

#(e) 1387 is divisible by 19.
e=1387/19==0
print("e",e)

#(f) 31 is even.(Hint:what does the remainder when you divide by 2 tell you ?)
f=31%2==0
print("f",f)

#(g) The lowest price among $34.99,$29.95,and $31.50 is lessthan $30.00
min(34.99,29.95,31.50)<30.00

a False
b True
c True
d False
e False
f False

True

In [224]:
#practice problem 2.3(Write Python statements that correspond to the actions below and execute them:)
#(a)Assign integer value 3 to variable a.
a=3
print("a",a)

#(b) Assign (4) to variable (b).
b=4
print("b",b)

#(c) Assign to variable c the value of expression a * a + b * b.
a=3
b=4
c=a*a+b*b
print("c",c)

a 3
b 4
c 25

In [230]:
#practice problem 2.3(Start by executing the assignment statements;)
#(a) 'ant bat cod'
s1=("ant")
s2=("baT")
s3=("cod")
s1+''+s2+''+s3

'antbaTcod'

In [226]:
#(b) 'ant ant ant ant ant ant ant ant ant ant '
s1=("ant")
10*(s1+'')

'antantantantantantantantantant'

In [227]:
#(c) 'ant bat bat cod cod cod'
s1=("ant")
s2=("baT")
s3=("cod")
1*(s1+'')+2*(s2+'')+3*(s3+'')

'antbaTbaTcodcodcod'

In [228]:
#(d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
s1=("ant")
s2=("baT")
7*(s1+''+s2+'')

'antbaTantbaTantbaTantbaTantbaTantbaTantbaT'

In [229]:
#(e) 'batbatcod batbatcod batbatcod batbatcod batbatcod '.
s2=("baT")
s3=("cod")
5 * (2 * s2 +1*( s3 + ''))

'baTbaTcodbaTbaTcodbaTbaTcodbaTbaTcodbaTbaTcod'

In [231]:
#2.5 practice problem.
#s=(0123456789)
#(a)"0"
s=[0]
print("s",s)

#(b)"1"
a=[1]
print("a",a)

#(c)"6"
b=[6]
print("b",b)

#(d)"8"
c=[8]
print("c",c)

#(e)"9"
d=[9]
print("d",d)

s [0]
a [1]
b [6]
c [8]
d [9]

In [234]:
#praactice problem 2.6
#Now write two Python expressions that evaluate to the ﬁrst and last, respectively, word in words,in dictionary order.
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
max('BAT', 'BALL', 'BARN', 'BASKET', 'BADMINTON')

'BAT'

In [188]:
min('bat', 'ball', 'barn', 'basket', 'badminton')

'badminton'

In [248]:
#2.7 practice problem;
#(a) An expression that evaluates to the number of 7 grades;
student = [9, 7, 7, 10, 3, 9, 6, 6, 2]
student.count(7)

2

In [251]:
#(b) A statement that changes the lastgrade to 4
student= [9, 7, 7, 10, 3, 9, 6, 6, 2]
lst[-1]=4
print(lst)

['hello', 4]

In [191]:
#(c) An expression that evaluates to the maximum grade;
max(9, 7, 7, 10, 3, 9, 6, 6, 2)

10

In [192]:
#(d) A statement that sorts the list grades;
student=[9, 7, 7, 10, 3, 9, 6, 6, 2]
student.sort()
print(student)

[2, 3, 6, 6, 7, 7, 9, 9, 10]

In [193]:
#(e) An expression that evaluates to the average grade;
student=[9, 7, 7, 10, 3, 9, 6, 6, 2]
sum(student)/len(student)

6.555555555555555

In [194]:
#practice.problem2.8;In what order are the operators in the following expressions evaluated?
((2 + 3) == 4) or( a >= 5)
5<=4

False

In [195]:
(1) * -3 < -10 == 0

False

In [196]:
(1) * -3 < -10 in [0, True]

False

In [197]:
 2 * 3**2

18

In [198]:
 4 / 2 in [1, 2, 3]

True

In [199]:
#practice problem2.9;What is the type of the object that these expressions evaluate to?
5<3+7>9

True

In [200]:
2 * 3**2.0

18.0

In [201]:
 4 // 2 + 4 % 2

2

In [202]:
2 + 3 == 4 or 5 >= 5

True

In [203]:
#practice problem2.10; Write Python expressions corresponding to the following:
#(a) The length of the hypotenuse in a right triangle whose other two sides have lengths a and b
from math import sqrt
hyp=(sqrt)(a**2+b**2)
print('length of the hypoteneous is',hyp)

length of the hypoteneous is 5.0

In [204]:
#(b) The value of the expression that evaluates whether the length of the above hypotenuse is 5; 
from math import sqrt
hyp=5
5==(sqrt)(a**2+b**2)
print("the length of the above hypoteneous is",hyp)

the length of the above hypoteneous is 5

In [205]:
 #(c) The area of a disk of radius a
from math import sqrt
rad=math.sqrt((1-a)**2+(1-b)**2)
print("rad",rad)

rad 3.605551275463989

In [206]:
#data types python
#numeric
# integer value
a=100
print( a, type(a))
# float value.
b=0.0012
print(b,type(b))
#complex value
c=50+1j
print(c,type(c))

100 <class 'int'>
0.0012 <class 'float'>
(50+1j) <class 'complex'>

In [207]:
#string
a=("usman institute")
b=("of tecnology")
print(a+b)

usman instituteof tecnology

In [208]:
#list
lst=["hello","abubakar"]
print(lst)
#index are 0 based. this will print a single character
print(lst[1])

['hello', 'abubakar']
abubakar

In [209]:
#tuple
tuple=("hello","abubakar")
print(tuple)
#index(0)
print(tuple[0])

('hello', 'abubakar')
hello

In [210]:
#dictionary
a = {1:"abubakar",2:"siddique", "age":17}
print(a[1])
print(a[2])
print(a["age"])

abubakar
siddique
17

In [211]:
#module fraction;
import fractions
a = fractions.Fraction(3, 4)
print(a)
b=math.sqrt(fractions.Fraction(28,3))
print(b)

3/4
3.0550504633038935